@font-face {
  font-family: "Mona Sans";
  src: url("font/Mona-Sans.woff2") format("woff2 supports variations"),
    url("font/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

* {
  --background: 20, 20, 20;
  --light-background: 40, 40, 40;
  --accent: 20, 40, 20;
  --text-color: 200, 200, 200;
  --light-text-color: 240, 240, 240;

  font-family: "Mona Sans", sans-serif;
}

body {
  background: linear-gradient(
    0deg,
    rgb(var(--background)) 70%,
    rgb(var(--accent)) 100%
  );
  background-repeat: repeat-x;
  background-color: rgb(var(--background));
  height: 100vh;
  color: rgb(var(--text-color));
  margin-left: 0;
  padding-left: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}

.header>h1 {
  font-size: 75px;
}

.header>h1>span {
  background: linear-gradient(100deg, #ccddcc 0%, #73cea7 50%, #3dcc47 80%),#fff;
  background-clip: text;
  color: transparent;
  text-decoration: underline;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 200px;
}

.container>.text {
  margin-right: 50px;
  font-size: 20px;
}

.container>.text>h2 {
  font-size: 50px;
  color: rgb(var(--light-text-color));
  margin-bottom: 20px;
  margin-top: 0px;
}

.container>.image {
  margin-left: 50px;
}

.container>.image>img {
  max-width: 700px;
  border-radius: 15px;
}

footer {
  margin-top: 200px;
  background-color: rgb(var(--light-background));
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

footer>a {
  font-size: 20px;
  color: var(--light-text-color);
  text-decoration: none;
}

footer>a:hover {
  text-decoration: underline;
}